/* Font Families Initialization! Add more here before you use */
/* Copy the entire paragraph and paste it below, then change the name and the url */
/* Finally, use the name in font-family in the rest of the style page */

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*font-family: 'Russo One', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap'); 
/*font-family: 'Mitr', sans-serif;*/

@font-face {  
  font-family: 'Russo One', sans-serif;/*geral*/
  font-family: 'Mitr', sans-serif;/*titulos*/  
}

/* ------------------------------ */

/* ------!!!! ------- */
/* ---------- DO NOT REMOVE THE ; SEMI COLON PUNTO Y COMA  AT THE END OF EVERY LINE !!! ---- */
/* ------!!!! ------- */

/* Character sheet background and Font Color */
.sandbox.sheet .window-content {
  color: #000163; /* Change color code, include the hash tag! */
  /* Replace LINK_TO_IMAGE from the web to an image you like for a background or place it in img folder */
  /* Image should be sized on about 720p and not be too heavy */  
  background: url(img/fundoteste.webp) no-repeat; /* Replace no-repeat with repeat for pattern images 
  
  overflow-y: auto; /* change between hidden and auto to show vertical scroll bar in sheets. Good for long sheets */
}

.centertext.rollable   {    
}

.editor-content  { 
}

/* Font control of general text in Foundry in general */
body {  
  font-family: 'Russo One', sans-serif;
  font-size: 12px; /* change only the number! */
}

/* Tabs in sheets! */
.sandbox.sheet .tabs .item {
  font-family: 'Russo One', sans-serif;  
  color: #000163; /* Change color code, include the hash tag! */
  font-size: 14px; /* change only the number! */
}

/* Font and color control for Panel Headers */
.sandbox.sheet .panelheader {
  font-family: 'Mitr', sans-serif;
  letter-spacing: 0px;
  font-size: 14px; /* change only the number! */
  background-color: #003d50; /* Background color for panel header */
}

/* Character sheet input text background color fields */
.sandbox.sheet [class^="flexblock-"] input {
  font-family: 'Mitr', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #70b6cc;
  color: black;  
}

/* Character sheet input text in tables (items) */
/* You can delete this paragraph if you want it to be same as the input text above */
.sandbox.sheet [class^="flexblock-"] td input {
  font-family: 'Russo One', sans-serif;
  font-size: 12px;
  background-color: #70b6cc;
  color: black;  
}

/* How cItems in tables behave when you move your mouse over!!! */
.sandbox.sheet .linkable:hover {
    color: #ff00f0;
	font-family: 'Russo One', sans-serif;
	font-size: 14px; /* Make it bigger or smaller when mouse over? */
    font-weight: bold; /* try bold - bolder - normal - lighter */
}

/* Labels fonts and style */
.sandbox.sheet [class*="label-"] {
  font-family: 'Russo One', sans-serif;
  font-size: 12px;
  background-color: #ffffff78;
  text-align: center;
  padding: 7px 0;
}

/* Labels fonts and style ----------------------------------------------*/
.sandbox.sheet [class*="label-"]:hover {
  color: #ff00f0;
  font-family: 'Russo One', sans-serif;
  font-size: 12px;
}

.sandbox.sheet [class*="label-large"] {   
  font-family: 'Mitr', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #2790b3;  
}

.sandbox.sheet [class*="label-large"]:hover {   
  font-family: 'Mitr', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;  
}

/* Character sheet table header colors */
.sandbox.sheet thead {
  background-color: #2790b3;
}

/* Character sheet empty table cell colors */
.sandbox.sheet tr.empty-row {
  background-color: #adb8df;
}

/* Table Body background color */
tbody.table {
  background-color: #93ade1;
}

/* Table cells fonts */
.sandbox.sheet td {
  font-family: 'Russo One', sans-serif;
  font-size: 14px;
}

textarea {
  font-size: 12px;
  color: #000163; /* Change color code, include the hash tag! */
  font-family: 'Mitr', sans-serif;    
}

select {
  background-color: #091a3c;
  font-size: 12px;
  color: #ffffff;
  font-family: 'Mitr', sans-serif;  
}

/* ---- NEW Sep-26 ----- */

/* Change shadow colors and Foundry general font color!! */
.app {
  box-shadow: 0 0 20px #7e4444; /* Change the color code here for a nice shadow color! */
  color: #dfdfdf; /* Text color for window titles and menu all across Foundry */
}

/* Character and Item Name Titles Text style! */
.sandbox.sheet .charname input {
    color: #001489;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    font-style: normal;
}

/* Customize the chat roll area! */
#chat-form textarea {
  background: url(img/parchment.jpg) no-repeat; /* Replace with some url with image or url in img folder */  
  font-family: monospace; /* Text font in dice */
  font-size: 14px; /* Text size in dice dialog */
  color: #341515; /* Text color in dice dialog */
}

/* Customize the chat history area! */
#chat-log .message {
  background: url(img/parchment.jpg) repeat; /* Replace with some url with image or url in img folder */  
  color: #030200; /* Text color */
}